<html lang="en" ng-app="StarterApp">
<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="static/emailCss.css">
	<meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="AppCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<h1>Amazing E-Mail</h1>
		</div>
		</md-toolbar>
	<div layout="row" flex>
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<div ng-controller="InboxListCtrl">
            <ul class="emailList">
                <li class="emailWrapper" ng-repeat="email in emails | orderBy:'-dateReceived'">
                    <md-button href="#/email/{{email._id}}">
                        <div class="date">{{email.dateReceived * 1000 | date:'shortTime'}}</div>
                        <div class="sender">{{email.fromName}}</div>
                        <div class="subject">{{email.subject}}</div>
                    </md-button>
                </li>
            </ul>
		</div>
		</md-sidenav>
		<div layout="column" flex id="content">
			<md-content layout="column" flex class="md-padding">
				<div ng-view></div>
			</md-content>
		</div>
	</div>
	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
	<script src="static/emailClient.js"></script>
	<script src="static/emailData.js"></script>

	<script type="text/ng-template" id="views/start.html">
		<h2>Welcome to Amazing E-Mail</h2>
	</script>

	<script type="text/ng-template" id="views/emailDetails.html">
	    <div class="emailDetails" ng-init="visor='html'">
	    		<div class="sender">From: <strong class="data" title="{{emailData.fromEmail}}">{{emailData.fromName}}</strong></div>
	    		<div class="receiver">To: <strong class="data">your-email@example.com</strong></div>
	    		<div class="date">Received: <strong class="data">{{emailData.dateReceived * 1000 | date:'medium'}}</strong></div>
	    		<label ng-show="visor=='html'" class="text"><input name="visor" type="radio" ng-model="visor" value="text"></label>
	    		<label ng-show="visor=='text'" class="html"><input name="visor" type="radio" ng-model="visor" value="html"></label>
	    		<h2 class="subject">Subject: {{emailData.subject}}</h2>
	    		<iframe class="viewer" html-viewer scrolling="no" frameborder="0"></iframe>
	    	</div>
	    </div>
	</script>
</body>
</html>
