<html lang="en" ng-app="StarterApp">
<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<style type="text/css">
		.emailDetails .body {
			white-space: pre-line;
		}
	</style>
	<meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="AppCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<h1>Amazing E-Mail</h1>
		</div>
		</md-toolbar>
	<div layout="row" flex>
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<div ng-controller="InboxListCtrl">
			<md-checkbox ng-model="showRead" aria-label="Show read">
          		Show read
        	</md-checkbox>
			<ul>
				<li ng-repeat="group in groupedData | orderBy:'-date'">
					<span>{{group.date | date:'shortDate'}}</span>
					<ul>
						<li ng-repeat="email in group.emails | orderBy:'-dateReceived'" ng-class="{new:!email.read}">
							<a href="#/email/{{email._id}}">
								<div class="date">{{email.dateReceived * 1000 | date:'shortTime'}}</div>
								<div class="sender">{{email.fromName}}</div>
								<div class="subject">{{email.subject}}</div>
							</a>
						</li>
					</ul>
    			</li>
			</ul>
		</div>
		</md-sidenav>
		<div layout="column" flex id="content">
			<md-content layout="column" flex class="md-padding">
				<div ng-view></div>
			</md-content>
		</div>
	</div>
	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
	<script src="static/emailClient.js"></script>
	<script src="static/emailData.js"></script>

	<script type="text/ng-template" id="views/start.html">
		<h2>Welcome to Amazing E-Mail</h2>
	</script>

	<script type="text/ng-template" id="views/emailDetails.html">
	    <div class="emailDetails">
	    		<div class="sender">From: <strong class="data" title="{{emailData.fromEmail}}">{{emailData.fromName}}</strong></div>
	    		<div class="receiver">To: <strong class="data">your-email@example.com</strong></div>
	    		<div class="date">Received: <strong class="data">{{emailData.dateReceived * 1000 | date:'medium'}}</strong></div>
	    		<h2 class="subject">Subject: {{emailData.subject}}</h2>
	    		<p class="body">{{emailData.content}}</p>
	    	</div>
	    </div>
	</script>

</body>
</html>